{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>About page</h1>
      <p>This has some details about the site</p>
      <p>Another paragraph</p>

      <p>from template: {{index .StringMap "test"}}</p>

      <p>
        {{if ne (index .StringMap "remote_ip") ""}}
        remote IP is: {{index .StringMap "remote_ip"}}
        {{else}}
        No IP address available yet. Visit <a href="/">Home</a>
        {{end}}
      </p>
    </div>
  </div>
</div>
{{end}}